<mat-card class="card-container" fxflex="100">Welcome
</mat-card>



<mat-card class="card-container" fxflex="80" style="margin-top:20px; background-color: hotpink; font-size: medium; font-style: oblique;">Add depedent details
    <button mat-raised-button type="submit" color="primary" style="margin-left:930px;" routerLink="/depedents"> Edit
    </button>
</mat-card>

<mat-card class="card-container" fxflex="80" style="margin-top:20px; background-color: hotpink; font-size: medium; font-style: oblique;">Add Claims
    <button mat-raised-button type="submit" color="primary" style="margin-left:1000px;" routerLink="/claims"> Edit
    </button>
</mat-card>
